/* Write your code here. */
.emoji-item {
  width: 32%;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: none;
}
.emoji-btn {
  background-color: #ffffff30;
  cursor: pointer;
  outline: none;
  border: 3px solid #ffffff33;
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .emoji-item {
    width: 24%;
  }
}
.emoji-icon {
  width: 50px;
}
@media screen and (min-width: 768px) {
  .emoji-btn {
    height: 200px;
  }
  .emoji-icon {
    width: 100px;
  }
}
