/* Write your code here. */
.win-lose-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff33;
  width: 85%;
  padding: 16px;
  margin: auto;
  border: 3px solid #ffffff33;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .win-lose-card {
    width: 80%;
    padding: 32px;
  }
  .current-score-value {
    font-size: 48px;
  }
}
.details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
.game-status {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
}
.current-score-label {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}
.current-score-value {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #6a59ff;
  text-align: center;
}
.play-again-btn {
  color: #3d3d3d;
  background-color: #ffce27;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 16px;
  padding: 16px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 992px) {
  .win-lose-card {
    width: 70%;
    flex-direction: row;
  }
  .details-section {
    order: 0;
  }
  .game-status {
    font-size: 64px;
  }
  .current-score-label {
    font-size: 36px;
  }
  .image-section {
    order: 1;
  }
  .win-lose-image {
    width: 350px;
    height: 450px;
  }
}
.image-section {
  display: flex;
  justify-content: center;
  order: 0;
}
.win-lose-image {
  width: 150px;
  height: 200px;
}
@media screen and (min-width: 1200px) {
  .win-lose-card {
    width: 60%;
  }
}
